.header {
  display: flex;
  align-items: center;
  position: sticky;
  height: 60px;
  background-color: #131921;
  top: 0;
  z-index: 100;
}

.header_logo {
  margin: 0 20px;
  margin-top: 18px;
  width: 100px;
  object-fit: contain;
}

.header_locationIcon,
.header_address {
  color: #fff;
  padding-right: 12px;
}

.header_search {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 24px;
}

.header_searchInput {
  height: 12px;
  width: 100%;
  padding: 10px;
  border: none;
}
.header_searchIcon {
  padding: 5px;
  height: 22px;
  background-color: #cd9042;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_option {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
}

.header_optionLineOne {
  font-size: 10px;
}

.header_optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header_optionBasket {
  display: flex;
  align-items: center;
  color: #fff;
}

.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
